.carousel-image-sizing {
    max-height: 60vh;
    min-height: 60vh;
    width: 100%;
    object-fit: contain;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    padding: 1.5rem;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
}

.carousel-control-next-icon {
    position: absolute;
    right: 0;
    transform: translateX(100%);
}

.full-carousel {
    display: flex;
    flex-direction: row;
}

.img-size {
    width: 30vw;
    height: auto;
}

.logo-size {
    width: 200px;
    height: auto;
}

.nav-spacing {
    display: flex;
    align-items: flex-end;
}

.nav-background {
    background: white;
}

.page {
    width: 100vw;
    height: 100vh;
}

.project {

}

.shadow-box {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}


.top-padding {
    padding-top: 11vh;

    @media (max-width: 576px) {
        padding-top: 20vh;
    }
}

