.icon-img {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.img-size {
    width: 30vw;
    height: auto;
}

.large-arrow {
    font-size: 10vh;
}

.large-arrow-button {
    position: absolute;
    bottom: 0;
}

.logo-size {
    width: 200px;
    height: auto;
}

.nav-spacing {
    display: flex;
    align-items: flex-end;
}

.nav-background {
    background: white;
}

.page {
    width: 100vw;
    padding-top: 100px;
}

.page-height {
    height: 100vh;
}

.shadow-box {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}


.top-padding {
    padding-top: 11vh;

    @media (max-width: 576px) {
        padding-top: 20vh;
    }
}

